{% extends "layout/base.html" %}
{% load static %}

{% block style_app %}
<style>
  .text-center {
    text-align: center;
    vertical-align: middle;
  }
  .large-checkbox {
    width: 20px;
    height: 20px;
  }
</style>
{% endblock style_app %}

{% block content_header %}
<div class="page-header">
  <h3 class="fw-bold mb-3">Creating Schedule</h3>
  <ul class="breadcrumbs mb-3">
    <li class="nav-home">
      <a href="#">
        <i class="icon-home"></i>
      </a>
    </li>
    <li class="separator">
      <i class="icon-arrow-right"></i>
    </li>
    <li class="nav-item">
      <a href="#">Select Outlets</a>
    </li>
    <li class="separator">
      <i class="icon-arrow-right"></i>
    </li>
    <li class="nav-item">
      <a href="#">Select Vehicle</a>
    </li>
    <li class="separator">
      <i class="icon-arrow-right"></i>
    </li>
    <li class="nav-item">
      <a href="#">Select Driver</a>
    </li>
  </ul>
</div>
{% endblock content_header %}

{% block Content %}
{% comment %} Driver Table {% endcomment %}
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="d-flex align-items-center">
          <h4 class="card-title">Driver Table</h4>
          <button id="generate-schedule-btn" class="btn btn-primary btn-round ms-auto">
            Select Vehicle
          </button>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <form id="driver-form" method="POST">
            {% csrf_token %}            
            <input type="hidden" id="selected-drivers" name="selected_drivers" value="">
            <table id="basic-datatables" class="display table table-striped table-hover" >
              <thead>
                <tr>
                  <th scope="col">No.</th>
                  <th class="text-center">
                    <input type="checkbox" id="select-all" class="large-checkbox">
                  </th>
                  <th scope="col">Driver</th>
                  <th scope="col">Phone</th>
                </tr>
              </thead>
              <tbody>
                {% for DriverDatas in DriverObject %}
                <tr>
                  <td scope="'row">{{forloop.counter}}</td>
                  <td class="text-center">
                    <input class="large-checkbox driver-checkbox" type="checkbox" value="{{ DriverDatas.id }}">
                  </td>
                  <td>{{DriverDatas.FullName}}</td>
                  <td>{{DriverDatas.Phone}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock Content %}

{% block scripts_app %}
<!-- Datatables -->
<script src="{% static '/assets/js/core/jquery-3.7.1.min.js' %}"></script>
<script src="{% static '/assets/js/plugin/datatables/datatables.min.js' %}"></script>
<script>
  $(document).ready(function () {
    // Clear session storage on page load
    sessionStorage.clear(); 
    $('input[type="checkbox"]').prop('checked', false);

    // Restore checked checkboxes from session storage
    $('input[type="checkbox"]').each(function() {
        var id = $(this).val();
        if (sessionStorage.getItem(id)) {
            $(this).prop('checked', true);
        }
    });

    // Save checked checkboxes to session storage
    $(document).on('change', 'input[type="checkbox"]', function() {
        var id = $(this).val();
        if ($(this).is(':checked')) {
            sessionStorage.setItem(id, 'checked');
        } else {
            sessionStorage.removeItem(id);
        }
    });

    $('#select-all').click(function() {
      var isChecked = this.checked;
      $('input[type="checkbox"]').prop('checked', isChecked);

      $('input[type="checkbox"]').each(function() {
          var id = $(this).val();
          if (isChecked) {
              sessionStorage.setItem(id, 'checked');
          } else {
              sessionStorage.removeItem(id);
          }
      });
    });

    // Collect all checked values before submitting the form
    $('#driver-form').on('submit', function() {
        var checkedIds = [];
        // Collect checked ids from sessionStorage
        for (var i = 0; i < sessionStorage.length; i++) {
            var key = sessionStorage.key(i);
            // Validate if key is a valid ID format
            if (/^\d+$/.test(key)) {
                checkedIds.push(key);
            }
        }
        $('#selected-drivers').val(checkedIds.join(','));

        // Clear session storage after submitting the form
        sessionStorage.clear();
    });

    // Clear session storage when the page is unloaded
    $(window).on('beforeunload', function() {
        sessionStorage.clear();
    });

    $('#generate-schedule-btn').click(function() {
      $('#driver-form').submit();
    });

    $("#basic-datatables").DataTable({});
    $("#basic-datatables2").DataTable({});

    $("#add-row").DataTable({
      pageLength: 10,
    });

    var action =
      '<td> <div class="form-button-action"> <button type="button" data-bs-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task"> <i class="fa fa-edit"></i> </button> <button type="button" data-bs-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove"> <i class="fa fa-times"></i> </button> </div> </td>';

    $("#addRowButton").click(function () {
      $("#add-row")
        .dataTable()
      $("#addRowModal").modal("hide");
    });
  });
  </script>
{% endblock scripts_app %}