{% extends "layout/base.html" %}
{% load static %}

{% block content_header %}
<div class="page-header">
  <h3 class="fw-bold mb-3">Creating Schedule</h3>
  <ul class="breadcrumbs mb-3">
    <li class="nav-home">
      <a href="#">
        <i class="icon-home"></i>
      </a>
    </li>
    <li class="separator">
      <i class="icon-arrow-right"></i>
    </li>
    <li class="nav-item">
      <a href="#">Creating Schedule</a>
    </li>
  </ul>
</div>
{% endblock content_header %}

{% block Content %}
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="d-flex align-items-center">
          <h4 class="card-title">Outlets Table</h4>
          <button
            class="btn btn-primary btn-round ms-auto"
            data-bs-toggle="modal"
            data-bs-target="#addRowModal"
          >
            Generate Schedule
          </button>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table
            id="add-row"
            class="display table table-striped table-hover"
          >
            <thead>
              <tr>
                <th style="width: 10%">Select</th>
                <th scope="col">Outlet Code</th>
                <th scope="col">Outet Name</th>
                <th scope="col">Outlet Type</th>
                <th scope="col">Provinsi</th>
                <th scope="col">Kabupaten/Kota</th>
                <th scope="col">Alamat</th>
              </tr>
            </thead>
            <tbody>
              {% for data in objectdatas %}
                <tr>
                  <td class="d-flex justify-content-center align-items-center">
                    <div class="btn-group m-3 m-md-4 m-sm-4" role="group" aria-label="Basic checkbox toggle button group">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    </div>
                  </td>
                  <td>{{data.OutletCode}}</td>
                  <td>{{data.OutletName}}</td>
                  <td>{{data.OutletType}}</td>
                  <td>{{data.Provinsi}}</td>
                  <td>{{data.Kabupaten}}</td>
                  <td>{{data.Address}}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock Content %}

{% block scripts_app %}
{% include "schedule/includes/scripts.html" %}
{% endblock scripts_app %}