{% extends "layout/base.html" %}
{% load static %}

{% block style_app %}
<script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>

{% endblock style_app %}

{% block content_header %}
<div class="page-header">
  <h3 class="fw-bold mb-3">Creating Schedule</h3>
  <ul class="breadcrumbs mb-3">
    <li class="nav-home">
      <a href="#">
        <i class="icon-home"></i>
      </a>
    </li>
    <li class="separator">
      <i class="icon-arrow-right"></i>
    </li>
    <li class="nav-item">
      <a href="#">Creating Schedule</a>
    </li>
  </ul>
</div>
{% endblock content_header %}

{% block Content %}
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="d-flex align-items-center">
          <h4 class="card-title">Outlets Table</h4>
          <button id="generate-schedule-btn" class="btn btn-primary btn-round ms-auto">
            Generate Schedule
          </button>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">        
          <!-- <table
            id="add-row"
            class="display table table-striped table-hover"
          >
            <thead>
              <tr>
                <th style="width: 10%">Select</th>
                <th scope="col">Outlet Code</th>
                <th scope="col">Outet Name</th>
                <th scope="col">Outlet Type</th>
                <th scope="col">Provinsi</th>
                <th scope="col">Kabupaten/Kota</th>
                <th scope="col">Alamat</th>
              </tr>
            </thead>
            <tbody>
              {% for data in objectdatas %}
                <tr>
                  <td class="d-flex justify-content-center align-items-center">
                    <div class="btn-group m-3 m-md-4 m-sm-4" role="group" aria-label="Basic checkbox toggle button group">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    </div>
                  </td>
                  <td>{{data.OutletCode}}</td>
                  <td>{{data.OutletName}}</td>
                  <td>{{data.OutletType}}</td>
                  <td>{{data.Provinsi}}</td>
                  <td>{{data.Kabupaten}}</td>
                  <td>{{data.Address}}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table> -->
          <form id="schedule-form" method="POST" > 
            <table id="basic-datatables" class="display table table-striped table-hover">
            {% csrf_token %}
              <thead>
                <tr>
                    <th>Select</th>
                    <!-- <th>Outlet Code</th> -->
                    <th>Outlet Name</th>
                    <th>Outlet Type</th>
                    <th>Provinsi</th>
                    <th>Kabupaten/Kota</th>
                    <th>Kecamatan</th>
                    <th>Kelurahan</th>
                    <th>Alamat</th>
                </tr>
              </thead>
              <tbody>
                  {% for data in form.datas.field.queryset %}
                      <tr>
                          <!-- <td>{{ form.data.as_widget }}</td> -->
                          <td>
                            <input type="checkbox" name="datas" value="{{ data.OutletCode }}">
                          </td>
                          <td>{{ data.OutletName }}</td>
                          <td>{{ data.OutletType }}</td>
                          <td>{{ data.Provinsi }}</td>
                          <td>{{ data.Kabupaten }}</td>
                          <td>{{ data.Kecamatan }}</td>
                          <td>{{ data.Kelurahan }}</td>
                          <td>{{ data.Address }}</td>
                      </tr>
                  {% endfor %}
              </tbody>
            </table>
            
            <input type="hidden" id="all_checked_ids" name="all_checked_ids">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock Content %}

{% block scripts_app %}
{% load static %}
<!-- Datatables -->
<script src="{% static '/assets/js/core/jquery-3.7.1.min.js' %}"></script>
<script src="{% static '/assets/js/plugin/datatables/datatables.min.js' %}"></script>
<script>
    $(document).ready(function () {
      var table = $('#datatable-container table').DataTable({
          paging: true
      });

      // Restore checked checkboxes from session storage
      // Restore checked checkboxes from session storage
      $('input[type="checkbox"]').each(function() {
          var id = $(this).val();
          if (sessionStorage.getItem(id)) {
              $(this).prop('checked', true);
          }
      });

      // Save checked checkboxes to session storage
      $(document).on('change', 'input[type="checkbox"]', function() {
          var id = $(this).val();
          if ($(this).is(':checked')) {
              sessionStorage.setItem(id, 'checked');
          } else {
              sessionStorage.removeItem(id);
          }
      });

      // Collect all checked values before submitting the form
      $('#schedule-form').on('submit', function(e) {

          var checkedIds = [];
          $('input[type="checkbox"]:checked').each(function() {
              checkedIds.push($(this).val());
          });

          // Set the value of hidden field to all checked IDs
          $('#datas').val(checkedIds.join(','));

          // Optionally, send data via AJAX
          $.ajax({
              url: '{% url "app_schedules:index" %}',
              method: 'POST',
              data: {
                  'csrfmiddlewaretoken': '{{ csrf_token }}',
                  'datas': $('#datas').val()
              },
              success: function(response) {
                  // Optionally handle the response and redirect or update the page
              }
          });
      });

      // Clear session storage when the page is unloaded
      $(window).on('beforeunload', function() {
          sessionStorage.clear();
      });

      $('#generate-schedule-btn').click(function() {
        $('#schedule-form').submit();
      });

      $("#basic-datatables").DataTable({});

      new DataTable('#example', {
        columnDefs: [
            {
                orderable: false,
                render: DataTable.render.select(),
                targets: 0
            }
        ],
        fixedColumns: {
            start: 2
        },
        order: [[1, 'asc']],
        paging: false,
        scrollCollapse: true,
        scrollX: true,
        scrollY: 300,
        select: {
            style: 'os',
            selector: 'td:first-child'
        }
    });
    });
  </script>
{% endblock scripts_app %}