{% extends "layout/base.html" %}
{% load static %}

{% block style_app %}
<script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
<style>
  .text-center {
    text-align: center;
    vertical-align: middle;
  }
  .large-checkbox {
    width: 20px;
    height: 20px;
  }
</style>
{% endblock style_app %}

{% block content_header %}
<div class="page-header">
  <h3 class="fw-bold mb-3">Creating Schedule</h3>
  <ul class="breadcrumbs mb-3">
    <li class="nav-home">
      <a href="#">
        <i class="icon-home"></i>
      </a>
    </li>
    <li class="separator">
      <i class="icon-arrow-right"></i>
    </li>
    <li class="nav-item">
      <a href="#">Select Outlets</a>
    </li>
    <li class="separator">
      <i class="icon-arrow-right"></i>
    </li>
    <li class="nav-item">
      <a href="#">Confirm Selected Outlets</a>
    </li>
  </ul>
</div>
{% endblock content_header %}

{% block Content %}
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="d-flex align-items-center">
          <h4 class="card-title">Outlets Table</h4>
            <a class=" ms-auto" href="{% url "app_schedules:processoutlets" %}">
              <button id="generate-schedule-btn" class="btn btn-primary btn-round">
                Generate Schedule
              </button>
            </a>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">        
         
          <table id="add-row" class="display table table-striped table-hover">
          
            <thead>
              <tr>
                  <th>No.</th>
                  <!-- <th>Outlet Code</th> -->
                  <th>Outlet Name</th>
                  <th>Outlet Type</th>
                  <!-- <th>Provinsi</th> -->
                  <!-- <th>Kabupaten/Kota</th> -->
                  <th>Kecamatan</th>
                  <th>Kelurahan</th>
                  <!-- <th>Alamat</th> -->
                  <th>Hari Pengiriman</th>
                  <th>Jenis Pengiriman</th>
              </tr>
            </thead>
            <tbody>
                {% for data in OutletObject %}
                    <tr>
                        <td scope="row" class="text-center">{{forloop.counter}}</td>
                        <!-- <td>{{ data.OutletCode }}</td> -->
                        <td>{{ data.OutletName }}</td>
                        <td>{{ data.OutletType }}</td>
                        <!-- <td>{{ data.Provinsi }}</td> -->
                        <!-- <td>{{ data.Kabupaten }}</td> -->
                        <td>{{ data.Kecamatan }}</td>
                        <td>{{ data.Kelurahan }}</td>
                        <!-- <td>{{ data.Address }}</td> -->
                        <td>{{ data.Days }}</td>
                        <td>{{ data.Delivery }}</td>
                    </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock Content %}

{% block scripts_app %}
{% load static %}
<!-- Datatables -->
<script src="{% static '/assets/js/core/jquery-3.7.1.min.js' %}"></script>
<script src="{% static '/assets/js/plugin/datatables/datatables.min.js' %}"></script>

{% endblock scripts_app %}