{% extends "layout/base.html" %}
{% load static %}

{% block content_header %}
<div class="page-header">
  <h3 class="fw-bold mb-3">{{PageHeader}}</h3>
  <ul class="breadcrumbs mb-3">
    <li class="nav-home">
      <a href="#">
        <i class="icon-home"></i>
      </a>
    </li>
    <li class="separator">
      <i class="icon-arrow-right"></i>
    </li>
    <li class="nav-item">
      <a href="#">Vehicle & Driver Overview</a>
    </li>
  </ul>
</div>
{% endblock content_header %}

{% block Content %}
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="d-flex align-items-center">
          <h4 class="card-title">Vehicle Table</h4>
          <a class="ms-auto" href="{% url VehicleLink %}">
            <button class="btn btn-primary btn-round" >
              <i class="fa fa-plus"></i>
              {{VehicleButton}}
            </button>
          </a>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table
            id="add-row"
            class="display table table-striped table-hover"
          >
            <thead>
              <tr>
                <th scope="col">No.</th>
                <th scope="col">Unit Type</th>
                <th scope="col">Vehicle Number</th>
                <th scope="col">Status</th>
                <th style="width: 10%">Action</th>
              </tr>
            </thead>
            <!-- <tfoot>
              <tr>
                <th scope="col">No.</th>
                <th scope="col">Unit Type</th>
                <th scope="col">Vehicle Number</th>
                <th scope="col">Status</th>
                <th style="width: 10%">Action</th>
            </tfoot> -->
            <tbody>
              {% for Data in Datas %}
              <tr>
                <td scope="'row">{{forloop.counter}}</td>
                <td>{{Data.UnitType}}</td>
                <td>{{Data.VehicleNumber}}</td>
                <td>{{Data.Status}}</td>
                <td>
                  <div class="form-button-action">
                    <button type="button" data-bs-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task">
                      <a href="{% url 'app_tables:vehicleUpdate' vehicleNumber=Data.VehicleNumber %}">
                        <i class="fa fa-edit"></i>
                      </a>
                    </button>
                    <button type="button" data-bs-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove">
                      <a href="{% url 'app_tables:vehicleDelete' vehicleNumber=Data.VehicleNumber %}">
                        <span style="color: red;">
                          <i class="fa fa-times"></i>
                        </span>
                      </a>
                    </button>
                  </div>
                </td>
              </tr>
              {% endfor %} 
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% comment %} Driver Table {% endcomment %}
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="d-flex align-items-center">
          <h4 class="card-title">Driver Table</h4>
          <a class="ms-auto" href="{% url DriverLink %}">
            <button class="btn btn-primary btn-round" >
              <i class="fa fa-plus"></i>
              {{DriverButton}}
            </button>
          </a>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table id="basic-datatables2" class="display table table-striped table-hover" >
            <thead>
              <tr>
                <th scope="col">Unit Number</th>
                <th scope="col" class="text-end">Driver</th>
                <th scope="col" class="text-end">Ready/Repaired</th>
                <th scope="col" class="text-end">Status</th>
              </tr>
            </thead>
            <!-- <tfoot>
              <tr>
                <th scope="col">Unit Number</th>
                <th scope="col" class="text-end">Driver</th>
                <th scope="col" class="text-end">Ready/Repaired</th>
                <th scope="col" class="text-end">Status</th>
              </tr>
            </tfoot> -->
            <tbody>
              <tr>
                <th scope="row">
                  L.300/B 9323 SO
                </th>
                <td class="text-end">
                  Rusliadi
                </td>
                <td class="text-end">
                  Ready
                </td>
                <td class="text-end">
                  <span class="badge badge-success">Existing</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock Content %}

{% block scripts_app %}
{% include "tables/includes/scripts.html" %}
{% endblock scripts_app %}