{% extends "layout/base.html" %}
{% load static %}

{% block content_header %}
<!-- <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4" >
  <div>
    <h3 class="fw-bold mb-3">Welcome</h3>
    <h6 class="op-7 mb-2">Today we have 60 outlets left to go</h6>
  </div>
  <div class="ms-md-auto py-2 py-md-0">
    {% comment %} <a href="#" class="btn btn-label-info btn-round me-2">Manage</a> {% endcomment %}
    <a href="#" class="btn btn-primary btn-round">Create Schedule</a>
  </div>
</div> -->
<div class="page-header">
  <h3 class="fw-bold mb-3">Dashboard</h3>
  <ul class="breadcrumbs mb-3">
    <li class="nav-home">
      <a href="{% url breadcrumbs.dashboard.url %}">
        <i class="icon-home"></i>
      </a>
    </li>
  </ul>
  <!-- <button id="generate-schedule-btn" class="btn btn-primary btn-round ms-auto">
    Finish
  </button> -->
</div>
{% endblock content_header %}

{% block style_app %}
<style>
  table .badge{
    font-size:medium;
  }
</style>
{% endblock style_app %}

{% block Content %}
{% comment %} Outlets report {% endcomment %}
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="d-flex align-items-center">
          <h4 class="card-title">Outlet Report</h4>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table
            id="basic-datatables"
            class="display table table-striped table-hover">
            <thead>
              <tr>
                <th scope="col">No. </th>
                <th scope="col">Outlet Name</th>
                <th scope="col">Outlet Type</th>
                <th scope="col">Alamat</th>
                <th scope="col">PJP Day</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
                {% for OutletData in OutletObject %}
                <tr>
                  <td scope="row">{{forloop.counter}}</td>
                  <td>{{OutletData.OutletName}}</td>
                  <td>{{OutletData.OutletType}}</td>
                  <td>{{OutletData.Address}}</td>
                  <td>{{OutletData.Days}}</td>
                  <td>
                    <a href="{% url "app_outlet:outletView" outletCode=OutletData.OutletCode %}">
                      <button type="button" data-bs-toggle="tooltip" title="" class="btn btn-primary" data-original-title="View Task">
                          View
                      </button>
                    </a>
                  </td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% comment %} Vehicle report {% endcomment %}
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="d-flex align-items-center">
          <h4 class="card-title">Vehicle Report</h4>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table id="basic-datatables2" class="display table table-striped table-hover" >
            <thead>
              <tr>
                <th scope="col">No.</th>
                <th scope="col">Unit Type</th>
                <th scope="col">Vehicle Number</th>
                <th scope=>Status</th>
              </tr>
            </thead>
            <tbody>
              {% for vehicleData in VehicleObject %}
              <tr>
                <td scope="'row">{{forloop.counter}}</td>
                <td>{{vehicleData.UnitType}}</td>
                <td>{{vehicleData.VehicleNumber}}</td>
                <td>
                  <h1>
                    <span class="badge badge-success">
                      {{vehicleData.Status}}
                    </span>
                  </h1>
                </td>
              </tr>
              {% endfor %} 
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% comment %} Driver report {% endcomment %}
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="d-flex align-items-center">
          <h4 class="card-title">Vehicle Report</h4>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table id="basic-datatables3" class="display table table-striped table-hover" >
            <thead>
              <tr>
                <th scope="col">No.</th>
                <th scope="col">Driver</th>
                <th scope="col">Phone</th>
                <th style="width: 10%">Action</th>
              </tr>
            </thead>
            <tbody>
              {% for driverdata in DriverObject %}
                <tr>
                  <td scope="'row">{{forloop.counter}}</td>
                  <td>{{driverdata.FullName}}</td>
                  <td>{{driverdata.Phone}}</td>
                  <td class="d-flex driver">
                    <a href="{% url 'app_vehicle:driverView' driverId=driverdata.id %}">
                      <button type="button" data-bs-toggle="tooltip" title="" class="btn btn-primary" data-original-title="Edit Task">
                        View
                      </button>
                    </a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock Content %}

{% block scripts_app %}
<script src="{% static '/assets/js/plugin/datatables/datatables.min.js' %}"></script>
<script>
  $(document).ready(function () {
    $("#basic-datatables").DataTable({});
    $("#basic-datatables2").DataTable({});
    $("#basic-datatables3").DataTable({});
  });
</script>
{% endblock scripts_app %}