{% extends "layout/base.html" %}
{% load static %}

{% block content_header %}
<div class="page-header">
  <h3 class="fw-bold mb-3">Creating Schedule</h3>
  <ul class="breadcrumbs mb-3">
    <li class="nav-home">
      <a href="#">
        <i class="icon-home"></i>
      </a>
    </li>
    <li class="nav-item">
      <a href="#">Creating Schedule</a>
    </li>
    <li class="separator">
      <i class="icon-arrow-right"></i>
    </li>
    <li class="nav-item">
      <a href="#">Schedule</a>
    </li>
    <li class="separator">
      <i class="icon-arrow-right"></i>
    </li>
    <li class="nav-item">
      <a href="#">Schedule Overview</a>
    </li>
  </ul>
</div>
{% endblock content_header %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="d-flex align-items-center">
          <h4 class="card-title">Overview</h4>
          <button
            class="btn btn-primary btn-round ms-auto"
            data-bs-toggle="modal"
            data-bs-target="#addRowModal"
          >
            Select Vehicle
          </button>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table
            id="basic-datatables"
            class="display table table-striped table-hover"
          >
            <thead>
              <tr>
                <th>Outlet Name</th>
                <th>Outlet Type</th>
                <th>Delivery Day</th>
                <th>Daily/Weekly</th>
                <th>Kabupaten</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th>Outlet Name</th>
                <th>Outlet Type</th>
                <th>Delivery Day</th>
                <th>Daily/Weekly</th>
                <th>Kabupaten</th>
              </tr>
            </tfoot>
            <tbody>
              <tr>
                <td>A.MAPPAINGA BAROMBONG-TPUY, IDM</td>
                <td>Indomaret</td>
                <td>Friday</td>
                <td>Weekly</td>
                <td>Makassar</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}


{% block scripts_app %}
{% include "schedule/includes/scripts.html" %}
{% endblock scripts_app %}