{% extends "layout/base.html" %}
{% load static %}

{% block content_header %}
<div class="page-header">
    <h3 class="fw-bold mb-3">Update Outlet</h3>
    <ul class="breadcrumbs mb-3">
      <li class="nav-home">
        <a href="#">
          <i class="icon-home"></i>
        </a>
      </li>
      <li class="separator">
        <i class="icon-arrow-right"></i>
      </li>
      <li class="nav-item">
        <a href="#">Outlets Overview</a>
      </li>"#">Outlets</a>
      </li>
      <li class="separator">
        <i class="icon-arrow-right"></i>
      </li>
      <li class="nav-item">
        <a href="#">Update Outlet</a>
      </li>
    </ul>
  </div>
{% endblock content_header %}

{% block Content %}
<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="card-title">Form Update Outlet</div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6 col-lg-4">
                <label class="mb-3"><b>General Info</b></label>
                {% comment %} default-input {% endcomment %}
                <div class="form-group">
                    <label for="largeInput">No Outlet</label>
                    <input
                    type="text"
                    class="form-control form-control"
                    id="defaultInput"
                    placeholder="Default Input"
                    />
                </div>
                <div class="form-group">
                    <label for="largeInput">Outlet Code</label>
                    <input
                    type="text"
                    class="form-control form-control"
                    id="defaultInput"
                    placeholder="Default Input"
                    />
                </div>
                <div class="form-group">
                    <label for="largeInput">Name</label>
                    <input
                    type="text"
                    class="form-control form-control"
                    id="defaultInput"
                    placeholder="Default Input"
                    />
                </div>
                <div class="form-group">
                    <label for="largeInput">Type</label>
                    <input
                    type="text"
                    class="form-control form-control"
                    id="defaultInput"
                    placeholder="Default Input"
                    />
                </div>
                <div class="form-group">
                    <label for="comment">Address</label>
                    <textarea class="form-control" id="comment" rows="5">
                    </textarea>
                </div>
                {% comment %} default select {% endcomment %}
            </div>
            <div class="col-md-6 col-lg-4">
                <label class="mb-3"><b>Location Info</b></label>
                <div class="form-group">
                    <label for="defaultSelect">Province</label>
                    <select
                    class="form-select form-control"
                    id="defaultSelect"
                    >
                    <option>Sunday</option>
                    <option>Monday</option>
                    <option>Tuesday</option>
                    <option>Wednesday</option>
                    <option>Thursday</option>
                    <option>Friday</option>
                    <option>Saturday</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="defaultSelect">Kabupaten</label>
                    <select
                    class="form-select form-control"
                    id="defaultSelect"
                    >
                    <option>Sunday</option>
                    <option>Monday</option>
                    <option>Tuesday</option>
                    <option>Wednesday</option>
                    <option>Thursday</option>
                    <option>Friday</option>
                    <option>Saturday</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="defaultSelect">Kecamatan</label>
                    <select
                    class="form-select form-control"
                    id="defaultSelect"
                    >
                    <option>Sunday</option>
                    <option>Monday</option>
                    <option>Tuesday</option>
                    <option>Wednesday</option>
                    <option>Thursday</option>
                    <option>Friday</option>
                    <option>Saturday</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="defaultSelect">Kelurahan</label>
                    <select
                    class="form-select form-control"
                    id="defaultSelect"
                    >
                    <option>Sunday</option>
                    <option>Monday</option>
                    <option>Tuesday</option>
                    <option>Wednesday</option>
                    <option>Thursday</option>
                    <option>Friday</option>
                    <option>Saturday</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="largeInput">Coordinate</label>
                    <input
                    type="text"
                    class="form-control form-control"
                    id="defaultInput"
                    placeholder="Default Input"
                    />
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <label class="mb-3"><b>Delivery Info</b></label>
                <div class="form-group">
                    <label for="defaultSelect">Day Delivery</label>
                    <select
                    class="form-select form-control"
                    id="defaultSelect"
                    >
                    <option>Sunday</option>
                    <option>Monday</option>
                    <option>Tuesday</option>
                    <option>Wednesday</option>
                    <option>Thursday</option>
                    <option>Friday</option>
                    <option>Saturday</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="defaultSelect">Daily/Weekly</label>
                    <select
                    class="form-select form-control"
                    id="defaultSelect"
                    >
                    <option>Daily</option>
                    <option>Weekly</option>
                    </select>
                </div>

            </div>
          </div>
        </div>
        <div class="card-action">
          <button class="btn btn-success">Submit</button>
          <button class="btn btn-danger">Cancel</button>
        </div>
      </div>
    </div>
  </div>
{% endblock Content %}